/*
Theme Name: Property Builder
Template: construction-hub
Text Domain: property-builder
Author: ThemesPride
Author URI: https://www.themespride.com/
Theme URI: https://www.themespride.com/themes/free-property-builder-wordpress-theme/
License: GNU General Public License v3 or later
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Description: Property builder is an awesome choice to create modern and professional website. It is ideal for real estate, construction business, builders, contractors, architectural firms, plumbing and proofing services, renovation and repairing services, real estate agents, property owners, oil & gas business, interior design, rent building, petroleum, ship business, manufacturing plants, road building and related websites. It is a feature-rich theme implemented on bootstrap framework. It is SEO-friendly theme that will help your website get indexed soon on major search engines like Google. You can add shortcodes to it to improve the functionality of your website. It has faster page load times as it is optimized for speed. It is written with secure and clean codes. With the social media option you can link all your social media pages to give credibility to your work. It is translation-ready and supports RTL layout. It offers many customization and personalization options. It is mobile-friendly theme that fits absolutely well with any device screen size, be it desktop, mobile or tabs. With the testimonial section your customers and visitors can comment and send queries to you. Choose this elegant, sophisticated, luxurious and retina-ready theme and start creating your website today.
Tags: wide-blocks, block-styles, one-column, two-columns, right-sidebar, left-sidebar, three-columns, four-columns, grid-layout, custom-colors, custom-header, custom-background, custom-menu, custom-logo, editor-style, featured-images, footer-widgets, full-width-template, sticky-post, theme-options, post-formats, threaded-comments, blog, e-commerce, photography
Version: 0.2.2
Tested up to: 5.8
Requires PHP: 5.6
*/

a,.box-content a, #theme-sidebar .textwidget a, #footer .textwidget a, .comment-body a, .entry-content a, .entry-summary a,.headerbox i,#theme-sidebar h3,#theme-sidebar a:hover,.main-navigation a:hover,#footer h3,.main-navigation .current_page_item > a, .main-navigation .current-menu-item > a, .main-navigation .current_page_ancestor > a{
    color: #f6ad21;
}
.readmore-btn a:hover,.search-box i,#theme-sidebar button[type="submit"], #footer button[type="submit"],span.meta-nav,.main-navigation ul ul a:hover,#comments input[type="submit"],.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button, .woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt,.page-numbers,.prev.page-numbers, .next.page-numbers,.toggle-nav button,.more-btn a,#our_project i,#slider .carousel-control-prev-icon, #slider .carousel-control-next-icon,.error-404 [type="submit"],button[type="submit"]{
    background: #f6ad21;
}
.readmore-btn a,.search_inner form.search-form,#footer .tagcloud a:hover{
    border-color: #f6ad21;
}

/* Logo  */

.logo {
    position: static;
    text-align: left;
    width: auto;
    height: auto;
    background: transparent;
    border-radius: 0;
    margin: 0;
    padding: 10px 0;
}

/* Header  */

.headerbox,.menubar {
    padding: 0;
    background: transparent;
}
.header-main,.site-info {
    background-image: linear-gradient(to right, #38615d , #34b3a3);
}
.headerbox i {
    font-size: 25px;
    padding: 0;
}
span.infotext {
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
}
span.simplep,.main-navigation a {
    color: #fff;
    font-size: 15px;
}
.search-box {
    text-align: right;
}
.search-box i {
    padding: 20px 12px;
}
.contact-section {
    border-bottom: 1px solid rgb(255 255 255 / 25%);
}
.search_inner {
    max-width: 100%;
}

/* Slider  */

#slider .carousel-caption {
    top: 50%;
    right: 15%;
    left: 45%;
}
#slider .inner_carousel {
    text-align: right;
}
#slider .inner_carousel h2 {
    margin-bottom: 15px;
}
#slider .carousel-control-prev-icon, #slider .carousel-control-next-icon {
    border: none;
    padding: 10px 15px;
    border-radius: 3px;
}
#slider .carousel-control-prev-icon:hover, #slider .carousel-control-next-icon:hover{
    background: #252c3a;
}

/* Projects  */

#our_project button.owl-prev, #our_project button.owl-next {
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
}
#our_project button.owl-next {
    right: -55px;
}
#our_project button.owl-prev {
    left: -55px;
}

.center1 {
    border-left-color: #f6ad21;
    border-top-color: #f6ad21;
}
.center1 .ring::before {
    background: #fdb719;
    box-shadow: 0 0 0 10px hsl(42deg 98% 55% / 45%), 0 0 10px 15px hsl(42deg 98% 55% / 45%);
}
.center2 .ring::before {
    background: #151515;
    box-shadow: 0 0 0 10px hsl(0deg 0% 8% / 47%), 0 0 10px 15px rgb(21 21 21 / 44%);
}

.bypostauthor > .comment-body > .comment-meta > .comment-author .avatar {
  border: 1px solid #333;
  padding: 2px;
}
.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}
.screen-reader-text:focus {
  background-color: #eee;
  clip: auto !important;
  clip-path: none;
  color: #444;
  display: block;
  font-size: 1em;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; /* Above WP toolbar. */
}

@media screen and (max-width: 767px){
    #our_project button.owl-next {
        right: 0;
    }
    #our_project button.owl-prev {
        left: 0;
    }
    #slider .carousel-caption {
        right: 15%;
        left: 15%;
        padding: 0;
    }
    #slider .inner_carousel,.logo {
        text-align: center;
    }
    .toggle-nav button{
        margin: 0;
    }
    .search-box {
        text-align: left;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px){
    #our_project button.owl-next {
        right: 0;
    }
    #our_project button.owl-prev {
        left: 0;
    }
}